# Ignorar todos los archivos .log
*.log

# Ignorar un directorio específico
temp/

# Ignorar un archivo específico
secrets.json

# Ignorar archivos, excepto el archivo readme.md (negación)
!readme.md
